@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.app {
  height: 100vh;
  background-color: #68D391;
}

.sign-in {
  height: 100vh;
  background-color: #68D391;
}

.register {
  height: 100vh;
  background-color: #68D391;
}

.header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
  font-size: 2vw;
}

.section-header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #38A169;
  font-size: 2vw;
}

.header>h1 {
  font-weight: 900;
  margin: 25px;
}

.option>h1 {
  font-size: 1.5vw;
  margin: -10px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 75vh;
}

.settings-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100vw;
  height: 0vh;
}

.dashboard-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 50vh;
}

a {
  font-weight: 600;
  font-size: 2.5vw;
  width: 300px;
  height: 75px;
  text-align: center;
  color: #FFFFFF;
  background-color: #38B2AC;
  border-radius: 25px;
  text-decoration: none;
  line-height: 75px;
}

p {
  font-weight: 500;
  font-size: 1.5vw;
  text-align: center;
  color: #000000;
  border-radius: 25px;
  text-decoration: none;
}

.return:hover {
  color: #68D391
}

input {
  font-weight: 600;
  font-size: 2.5vw;
  width: 300px;
  height: 75px;
  text-align: center;
  color: #FFFFFF;
  background-color: #38B2AC;
  border-radius: 25px;
  text-decoration: none;
  line-height: 75px;
  border: none;
}

input::placeholder {
  color: #D9D9D9;
}

.user-options {
  width: 683px;
  height: 794px;
  display: flex;
  flex-direction: column;
  gap: 75px;
  justify-content: center;
  align-items: center;
  background-image: url("../public/Menu-Vertical.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.user-options a:hover {
  color: #68D391;
}

.info {
  height: 40px;
  font-size: 1vw;
  line-height: 40px;
}

.info::placeholder {
  color: #D9D9D9;
}

.user-info {
  width: 683px;
  height: 794px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  background-image: url("../public/Menu-Horizontal.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.temp-buttons {
  width: 90vw;
  height: 400px;
  display: flex;
  gap: 100px;
  margin-top: 20px;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.dashboard-button-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.calculate-calories-button {
  height: 475px;
  width: 500px;
  line-height: 3;
  font-size: 2vw;
  color: #000000;
  background-color: #FFFFFF;
  color: #FFFFFF;
  background-image: url("../public/CalculateCalories.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
}

.add-dish-button {
  height: 475px;
  width: 500px;
  line-height: 3;
  font-size: 2vw;
  color: #000000;
  background-color: #FFFFFF;
  color: #FFFFFF;
  background-image: url("../public/AddDish.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
}

.manage-dishes-button {
  height: 475px;
  width: 500px;
  line-height: 3;
  font-size: 2vw;
  color: #000000;
  background-color: #FFFFFF;
  color: #FFFFFF;
  background-image: url("../public/ManageDishes.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
}

.register-button {
  font-weight: 600;
  font-size: 1.5vw;
  width: 150px;
  height: 40px;
  text-align: center;
  color: #FFFFFF;
  background-color: #38A169;
  border-radius: 25px;
  text-decoration: none;
  line-height: 40px;
}

.register-button-google {
  font-weight: 600;
  font-size: 1vw;
  width: 200px;
  height: 40px;
  text-align: center;
  color: #FFFFFF;
  background-color: #38A169;
  border-radius: 25px;
  text-decoration: none;
  line-height: 40px;
}

.user-info a:hover {
  color: #D9D9D9;
}

.return {
  font-weight: 600;
  font-size: 1.5vw;
  width: 150px;
  height: 50px;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  border-radius: 25px;
  text-decoration: none;
  line-height: 50px;
}

.logout {
  font-weight: 600;
  font-size: 1.5vw;
  width: 150px;
  height: 50px;
  text-align: center;
  color: #FFFFFF;
  background-color: #E53E3E;
  border-radius: 25px;
  text-decoration: none;
  line-height: 50px;
}

.confirm {
  font-weight: 600;
  font-size: 1.5vw;
  width: 150px;
  height: 50px;
  text-align: center;
  color: #FFFFFF;
  background-color: #38A169;
  border-radius: 25px;
  text-decoration: none;
  line-height: 50px;
}

body {
  margin: 0;
  font-family: 'Montserrat';
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 10vh;
  background-color: #68D391;
}

.navbar h1 {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 3vw;
}

.navbar-button {
  padding: 10px;
  margin-left: auto;
}

.navbar a {
  text-decoration: none;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar a:hover {
  color: #68D391;
}

.user-icon {
  background-image: url("../public/User-Icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 50px;
  margin-left: 100px;
  background-color: transparent;
}

.user-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 60vh;
  gap: 150px;
}

.change-type {
  height: 50px;
  width: 500px;
  font-size: 1.5vw;
  line-height: 50px;
  background-color: #FFFFFF;
  color: #000000;
  text-align: left;
  padding-left: 15px;
}

.change-type::placeholder {
  color: #D9D9D9;
  text-align: left;
  font-size: 1.25vw;
}

.user-change {
  margin-top: 50px;
  display: flex;
  height: 15px;
  gap: 100px;
  align-items: flex-start;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

.choose-dish {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.dish-options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-color: #FFFFFF;
  border-radius: 25px;
  max-width: 90vw;
  height: 10vw;
}

.dish-name-button {
  font-weight: 600;
  font-size: 1.5vw;
  width: 1000px;
  height: 100px;
  text-align: center;
  color: #FFFFFF;
  background-color: #38B2AC;
  border-radius: 25px;
  text-decoration: none;
  line-height: 100px;
  padding: 10px;
  font-size: 3vw;
}

.dish-name-button::placeholder {
  color: #FFFFFF;
}

.user-selection {
  display: flex;
  height: 15px;
  gap: 100px;
  align-items: flex-start;
}

.button-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  gap: 50px;
  width: 100vw;
  height: 0vh;
  margin-bottom: 100px;
}

.ingredient-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  gap: 25px;
  width: 100vw;
  height: 0vh;
}

.ingredient-input {
  font-weight: 600;
  font-size: 1.5vw;
  width: 30vw;
  height: 75px;
  text-align: center;
  color: #FFFFFF;
  background-color: #38B2AC;
  border-radius: 25px;
  text-decoration: none;
  line-height: 75px;
  padding: 10px;
  font-size: 2vw;
}

.ingredient-input::placeholder {
  color: #FFFFFF;
}

.add-dish-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 150px;
  gap: 40px;
  width: 100vw;
  height: 0vh;
}

.add-dish-buttons a:hover {
  color: #000000;
}

.add-ing {
  font-weight: 600;
  font-size: 1.5vw;
  width: 150px;
  height: 150px;
  text-align: center;
  color: #FFFFFF;
  background-color: #38A169;
  border-radius: 25px;
  text-decoration: none;
  line-height: 50px;
  padding: 15px;
}

.addDish {
  font-weight: 600;
  font-size: 2vw;
  width: 150px;
  height: 50px;
  text-align: center;
  color: #FFFFFF;
  background-color: #38A169;
  border-radius: 25px;
  text-decoration: none;
  line-height: 50px;
  padding: 10px;
  padding-left: 10vw;
  padding-right: 10vw;
}

.dish-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 100vw;
  margin-bottom: 50px;
}

.dish-name {
  text-align: center;
  font-size: 3vw;
  margin-top: -10px;
  color: #000000;
}

.calorie-name {
  text-align: center;
  font-size: 1.5vw;
  color: #E53E3E;
  margin-top: -20px;
}

.delete-ingredient {
  font-weight: 600;
  font-size: 0.75vw;
  width: 300px;
  height: 75px;
  text-align: center;
  color: #FFFFFF;
  background-color: #E53E3E;
  border-radius: 25px;
  text-decoration: none;
  line-height: 75px;
  padding: 10px;
}

.del-ing-group {
  margin-top: -15px;
}

.new-name {
  flex: 3;
  font-weight: 600;
  font-size: 2vw;
  width: 300px;
  height: 50px;
  text-align: center;
  color: #FFFFFF;
  background-color: #38B2AC;
  border-radius: 25px;
  text-decoration: none;
  line-height: 50px;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 15px;
  padding-left: 15px;
}

.new-name::placeholder {
  color: #FFFFFF;
}

.update-name {
  flex: 1;
  font-weight: 600;
  font-size: 1vw;
  width: 300px;
  height: 40px;
  text-align: center;
  color: #FFFFFF;
  background-color: #38A169;
  border-radius: 25px;
  text-decoration: none;
  line-height: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 10px;
}

.new-name-wrapper {
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  padding-top: -10px;
}

.delete-dish {
  font-weight: 600;
  font-size: 2vw;
  width: 300px;
  height: 50px;
  text-align: center;
  color: #FFFFFF;
  background-color: #E53E3E;
  border-radius: 25px;
  text-decoration: none;
  line-height: 50px;
}

.delete-dish-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.dish-container {
  background-color: #68D391;
  padding: 25px;
  border-radius: 25px;
}

.dish-container a:hover {
  color:#000000;
}

.ingredient-options-m {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  gap: 25px;
  height: 0vh;
}

.ingredient-input-m {
  font-weight: 600;
  font-size: 1.25vw;
  height: 50px;
  text-align: center;
  color: #FFFFFF;
  background-color: #38B2AC;
  border-radius: 25px;
  text-decoration: none;
  line-height: 50px;
}

.ingredient-input-m::placeholder {
  color: #FFFFFF;
}

.add-ing-m {
  font-weight: 600;
  font-size: 1.5vw;
  height: 50px;
  text-align: center;
  color: #FFFFFF;
  background-color: #38A169;
  border-radius: 25px;
  text-decoration: none;
  line-height: 50px;
}

.add-dish-buttons-m {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 50px;
}

.note {
  margin-top: -25px;
  margin-bottom: 25px;
}

.select-button-container {
  display: flex;
  justify-content: center;
}

.dish-container-calc {
  background-color: #68D391;
  padding: 25px;
  border-radius: 25px;
  width: 30vw;
  justify-content: center;
  align-items: center;
}

.calorie-number {
  text-align: center;
  font-size: 3vw;
  color: #E53E3E;
}